@import url('https://fonts.googleapis.com/css2?family=Syne:wght@400..800&family=Urbanist:ital,wght@0,100..900;1,100..900&display=swap');

/*CSS Variables*/
:root {
    --primary-font: 'Syne', Arial, sans-serif;
    --secondary-font: 'Urbanist', Verdana, sans-serif;
    --coral-color: #ff5c5c;
    --blue-color: #96d1d4;
    --green-color: #615e33;
    --yellow-color: #FFA31A;
    --charcoal-color: #051c1c;
    --cream-color: #decfb5;
}

/*Global Styles*/
body {
    font-family: var(--primary-font), sans-serif;
    background-color: var(--cream-color);
    color: var(--charcoal-color);
    overflow-x: hidden;
}


.main-container {
  padding-top: 70px;
}

/*weird horizontal scroll on index fix*/
html, body {
  overflow-x: hidden;
}

.row {
  margin-right: 0;
  margin-left: 0;
}

/*NavBar Styles*/
.navbar-nav .nav-link:hover {
  color: var(--coral-color);
}

.navbar-nav .nav-link {
  transition: color 0.3s ease;
}

.navbar-nav .nav-link.active {
  font-weight: 600;
}

html, body {
  height: 100%;
  margin: 0;
}

body {
  display: flex;
  flex-direction: column;
}

.main-container {
  flex: 1;
}

.footer {
  background-color: var(--charcoal-color); 
  color: var(--cream-color);              
  text-align: center;
}


/* Hero Section */
.hero {
  position: relative;
  width: 100%;
  height: 100vh;  
  background-image: url(../images/heroimage.jpeg); 
  background-position: center;
  background-size: cover; 
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--charcoal-color);
  text-align: center;
  padding-top: 70px;
}

.hero-content {
  position: absolute;
  text-align: center;
  z-index: 10;
}

.hero h1 {
  font-size: 3rem;
  margin-bottom: 20px;
  font-weight: bold;
  padding-bottom: 50px;
}

.hero p {
  font-size: 1.2rem;
  margin-bottom: 30px;
}

/*home page more info section*/

#index-section .row {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

#index-section .col-12 {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

#index-section h4{
  font-size: 5rem;
}


/* Equal height for text and image sections */
#index-section .col-md-6 {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 300px; 
}

#index-section img {
  width: 100%;
  height: 100%;
  object-fit: cover; /* Ensures the image fills the container without stretching */
}

#index-section .mb-4 {
  margin-bottom: 20px;
}

#index-section h4 {
  font-size: 2rem;
  font-weight: bold;
}

#index-section p {
  font-size: 1rem;
  line-height: 1.6;
}
/* background color to sections for visual separation */
#index-section .col-md-6 {
  background-color: var(--charcoal-color);
  color: var(--cream-color);
  padding: 20px;
}


.cta-button {
  padding: 20px 40px;
  font-size: 1.4rem;  
  font-weight: bold;
  background-color: var(--charcoal-color);
  color: var(--cream-color);
  border: none;
  text-decoration: none;
  border-radius: 5px;
  transition: background-color 0.3s ease;

  margin-top: 30px; 
}

.cta-button:hover {
  background-color: var(--coral-color);
  color: var(--cream-color);
}

/* 4 steps to take section*/
#steps-section {
  padding: 50px 0;
  color: var(--green-color);
}

.step-card img {
  width: 75px; 
  object-fit: contain; /* Keep the aspect ratio */
  margin-bottom: 15px; 
}

.step-card {
  text-align: center;
  padding: 20px;
 
}

#steps-section h2{
  font-weight: bold
}

/*FORM PAGE*/

.formpage-hero {
  position: relative;
  width: 100%;
  height: 50vh;  
  background-image: url(../images/formpage-hero.jpg); 
  background-position: center;
  background-size: cover; 
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--cream-color);
  text-align: center;
  padding-top: 70px;
}

.formpage-hero::before {
  content: "";
  position: absolute;
  top: 0; left: 0; right: 0; bottom: 0;
  background: rgba(0, 0, 0, 0.4);
  z-index: 1;
}

.formpage-hero * {
  position: relative;
  z-index: 2;
}
/*quote form info*/
#quote-form-info p{
  margin-top: 3rem;
  font-weight: 500;
  color: var(--green-color);
}
/* Square corners for all form elements */
.custom-form,
input,
select,
textarea,
.customform button,
.form-control,
.form-select,
.btn {
  border-radius: 0 !important;
}

form h3 {
  text-transform: uppercase;
  letter-spacing: 1px;
  margin-bottom: 1rem;
  font-size: 1rem;
  font-weight: bold;
  color: var(--green-color);
}

.custom-form {
  margin-bottom: 3rem;
}

button[type="submit"] {
  background-color: var(--green-color);
  color: var(--yellow-color);
  font-size: 1.1rem; /* Increased font size */
  padding: 10px 20px; /* Added padding for a larger button */
  border-style: none;
  transition: background-color 0.3s ease, color 0.3s ease;
}

/* On hover, change button color */
button[type="submit"]:hover {
  background-color: var(--yellow-color); 
  color: var(--green-color); 
  border-color: var(--charcoal-color); 
}



/* Success Page Styling */
#success {
  background-color: var(--cream-color); 
  color: var(--charcoal-color);          
  padding: 50px 20px;                  
  border-radius: 10px;                  
  margin-top: 50px;                    
  text-align: center;
  animation: fadeIn 1s ease-out;         
}

/* Header Styling */
#success h1 {
  font-size: 3rem;                    
  font-weight: bold;                  
  color: var(--coral-color);           
  margin-bottom: 20px;                 
}

/* Subheading Styling */
#success .lead {
  font-size: 1.5rem;                   
  color: var(--charcoal-color);       
  margin-bottom: 30px;                 
}

/* Button Styling */
#success .btn {
  background-color: var(--coral-color); 
  color: #5CFFFF;            
  padding: 12px 30px;                  
  font-size: 1.2rem;                   
  border: none;                       
  border-radius: 5px;                  
  text-decoration: none;               
  transition: background-color 0.3s ease, color 0.3s ease;
}

#success .btn:hover {
  background-color: var(--blue-color);  
  color: var(--coral-color);         
}


/*FAQS section*/
.card {
  border: none;
  border-radius: 0;
  background-color: #fdfaf6; /* light cream or neutral */
  box-shadow: 0 2px 6px rgba(0,0,0,0.1);
}

.card-title {
  color: var(--coral-color);
  font-weight: 600;
}

.card-text {
  color: var(--charcoal-color);
}

.faq-img {
  width: 100%;
  max-width: 250px;
  height: 250px;
  object-fit: cover;
  border-radius: 50%;
}


/*google map section*/
#contact-info  h3{
  color: var(--coral-color);
  font-weight: bold;
  
}


/*ABOUT US PAGE*/
#about-us img {
  width: 85%; 
  height: auto;
  display: block;
  margin: 0 auto;
}
#about-us-text {
  padding-bottom: 30px;
  font-size: larger;
}

#about-us h2{
  color: var(--coral-color);
  font-weight: bold;
}

#about-us {
  padding: 50px 20px;
  background-color: var(--cream-color); 
  color: var(--charcoal-color); 
  text-align: center;
}

/*footer styles*/

footer {
  padding-top: 30px;
}

/* Style social icons */
.footer .social-links a i {
  color: var(--cream-color);
}

/* On hover, change color */
.footer .social-links a:hover i {
  color: var(--coral-color);
  transition: color 0.3s ease;
}

/* remove underline */
.footer .social-links a {
  text-decoration: none; 
  color: inherit;
}


/* Address Styling */
.footer .address p {
  font-size: 1rem;
  line-height: 1.5;
}

.footer .address {
  text-align: left;
}

/* Ensure responsiveness on large screens */
@media (min-width: 992px) {
  .footer .social-links {
    text-align: left; /* Align social links to the left on large screens */
  }

  .footer .address {
    text-align: left; /* Address text should be left-aligned on large screens */
  }

}
/* Ensure responsiveness on large screens */
@media (min-width: 768px) {
  .footer .social-links {
    justify-content: flex-end; /* Align to the right on medium and large screens */
  }

  .footer .address {
    justify-content: flex-start; /* Align to the left on medium and large screens */
  }
}

@media screen and (max-width: 768px) {
  .about-us-image {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
  }

  .about-us-image {
    max-width: 100%;
    height: auto;
  }
}