
@import url('https://fonts.googleapis.com/css2?family=Syne:wght@400..800&family=Urbanist:ital,wght@0,100..900;1,100..900&display=swap');

/*CSS Variables*/
:root {
    --primary-font: "Inter", sans-serif;
    --secondary-font: "Macondo", cursive;
    --coral-color: #ff5c5c;
    --blue-color: #96d1d4;
    --green-color: #615e33;
    --yellow-color:#FFA31A;
    --charcoal-color: #051c1c;
    --cream-color: #decfb5;}



*fonts
- 
